html{
    background-color: aqua;
    scroll-behavior: smooth;
}
#charcho{
    height: 25px;
    width: 200px;
    display:block;
}
.witeli{
    color: red;
}
#submit{
    display: block;
    background-color: blue;
    color: white;
    width: 75px;
    height: 30px;
}
